/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Open Sans', sans-serif;
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    border-radius: 25px;
}

#logo {
    padding-top: 8px;
    padding-left: 5px;
}

.tuitt-button {
    background-color: #c2195b;
    
}

#bg-image {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
  
}

.container {
	text-align: right;
	width: 40%;
	position: relative;
	left: 50%;
}
.title {
	font-family: Zilla slab, serif;
	font-size: 2.5rem;
	font-weight: 600;
}


.subtitle {
	font-size: 1.3rem;
	font-weight: 300;
	width: 75%;
	margin-left: 9rem;
	margin-top: 1px;

}

.apply-button{

	margin-top: 2rem;
	background-color: #c2195b;

}

/*malaki ang titik O */

.intro{
    padding-top: 25px;
    text-align: center;
}


.title-2{
    
    font-family: 'zilla slab', serif;
    font-size: 25px;
    font-weight: 600;
    
}

.intro-description{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 200;
}

.pre-footer{
    text-align: center;
}

.book-button{
    color: white;
    background-color: #336589;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    width: 9rem;
    font-weight: 600;
    
    
}

.prefooter-description{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    font-weight: 200;
}

footer{
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 200;
    text-align: center;
    font-weight: 200;
}




