* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

/* Appnavbar */
.tubol {
  font-size: 16px;
  color: orange;
  transition: 0.3s;
  transform: rotateY(180deg);
}

.tubol:hover {
  transform: scale(2);
  color: pink;
}

.profile {
  font-size: 16px;
  color: orange;
  transition: 0.3s;
}

.profile:hover {
  transform: scale(2);
  color: pink;
}

img {
  height: 40vh;
  width: 100%;
  position: relative;
}

.mother .content {
  top: -269px;
  left: 101px;
  text-align: justify;
}

.mother .redirect {
  color: black;
}

.mother .btn {
  background-color: blue;
  color: black;
}
