* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 200%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 200%;
}

.navbar {
  background-color: #24232336;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.user div {
  display: none;
}

.user h2 {
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 3rem;
}

.user-img {
  width: 40px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1.5rem;
  margin-right: 10px;
}

.ul {
  padding: 0 15px;
  list-style: none;
  text-decoration: none;
}

ul li {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

ul li img {
  width: 30px;
  margin-right: 0px;
}

.child img {
  width: 40px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

ul li p {
  white-space: nowrap;
  display: none;
}

.side-nav:hover {
  width: 270px;
}

.side-nav:hover .user div {
  display: block;
}

.side-nav:hover .user {
  width: 90%;
  height: 10%;
  background: rgba(73, 73, 73, 0.856);
  backdrop-filter: blur(5px);
}

.side-nav:hover ul li p {
  display: block;
}

.side-nav:hover ul li img {
  margin-right: 10px;
}

.side-nav:hover ul li {
  justify-content: flex-start;
}

ul li a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

#main-nav {
  background: transparent;
}

#home {
  min-height: 100vh;
}

.custom-col {
  margin-top: 20%;
}

.list-inline-item {
  color: white;
}

#aboutme {
  background-color: rgba(0, 0, 0, 0.6);

  min-height: 150vh;
}

.custom-col .btn-box {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80%;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 15px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.full {
  color: #00abf0;
}

.display-4 {
  line-height: 2rem;
}

.display-3 {
  line-height: 5rem;
  position: relative;
}

/* .display-3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.2s;
}

@keyframes showRight {
    100% {
        width: 0;
    }
} */

.mdiv {
  width: 100px;
  height: 50px;

  font-weight: normal;
  position: relative;
  animation: mymove 5s;
}

#div1 {
  animation-timing-function: linear;
}

#div2 {
  animation-timing-function: ease;
}

#div3 {
  animation-timing-function: ease-in;
}

#div4 {
  animation-timing-function: ease-out;
}

#div5 {
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {
    left: 600px;
  }

  to {
    left: 0px;
  }
}

.header .side-nav a:hover {
  text-decoration: none;
  color: white;
}

#projects {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5rem;
}

#myteam {
  background-color: rgba(0, 0, 0, 0.6);
}

.rounded-left {
  background-color: #081b296b;
  backdrop-filter: blur(2px);
  color: whitesmoke;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.box {
  background: #081b296e;
  box-shadow: 0 0 12px rgb(100, 100, 100);
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 480px;
  overflow: hidden;
  margin-left: 2rem;
}

.box form {
  position: absolute;
  inset: 6px;
  background-color: #000000;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  flex-direction: column;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 460px;
  background: #ec0c0c;
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 460px;
  background: #fafafa;
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#projects .container {
  position: relative;
  flex-wrap: wrap;
  max-width: 1200px;
  z-index: 1;
  justify-content: center;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur (5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content p {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content a {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content a {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content video {
  border-radius: 10px;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
